


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Expense Calculator </ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="icon-only" (click)="addExpense()">
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <h1 [ngClass]="total<0? 'expense' : 'income'">
          <span *ngIf="total>0">+</span>
          <!-- <span *ngIf="total<0">-</span> -->
          {{total | currency:'INR'}}
        </h1>
      </ion-col>
    </ion-row>
    <ion-row class="filter">
      <ion-col size="6" size-md="3" offset-md="3">
        <ion-item lines="none" class="light-bg">
          <ion-select
            #month
            placeholder="Select One"
            interface="popover"
            value="0"
            (ionChange)="filterData()"
          >
            <ion-select-option value="0">January</ion-select-option>
            <ion-select-option value="1">February</ion-select-option>
            <ion-select-option value="2">March</ion-select-option>
            <ion-select-option value="3">April</ion-select-option>
            <ion-select-option value="4">May</ion-select-option>
            <ion-select-option value="5">June</ion-select-option>
            <ion-select-option value="6">July</ion-select-option>
            <ion-select-option value="7">August</ion-select-option>
            <ion-select-option value="8">September</ion-select-option>
            <ion-select-option value="9">October</ion-select-option>
            <ion-select-option value="10">November</ion-select-option>
            <ion-select-option value="11">December</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-item lines="none" class="light-bg">
          <ion-select
            #year
            placeholder="Select One"
            interface="popover"
            [value]="availableYears[0]"
            (ionChange)="filterData()"
          >
            <ion-select-option
              *ngFor="let year of availableYears"
              [value]="year"
              >{{year}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let entry of filteredExpense">
            <ion-item class="light-bg" lines="none">
              <ion-label>
                <h3>{{entry.name}}</h3>
                <p>{{entry.date | date}}</p>
              </ion-label>
              <ion-label
                slot="end"
                [ngClass]="entry.type==='income'? 'income' : 'expense'"
              >
                <span *ngIf="entry.type==='income'">+</span>
                <span *ngIf="entry.type==='expense'">-</span>
                {{entry.expense | currency: 'INR'}}
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" class="light-bg">
                <ion-label (click)="deleteEntry(entry.id)">Delete</ion-label>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
